@font-face {
    font-family: adiNeueBlack;
    src: url(adineuePRO-BlackWeb.woff);
  }

@font-face {
    font-family: adiNeueLight;
    src: url(adineuePRO-LightWeb.woff);
  }

header {
    padding-top: 50px;
    font-size: 55px;
    font-family: adiNeueLight;
}

body {
    font-family: adiNeueLight;
    font-size: 64px;
    line-height: 90px;
    padding-right: 200px;
    padding-left: 200px;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 75px;
    line-height: 95px;
}


a {
    color: #000;
}


em {
    font-style: italic;
}

strong {
    font-style: italic;
}


@media only screen and (max-width: 600px) {
    body {
        padding-right: 50px;
        padding-left: 50px;
    }
  }